// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Foundation
@import "node_modules/foundation-sites/assets/foundation";

$rating-block-margin-bottom: 2rem;
$rating-block-star-color: $alert-color;

body{
    height: 400vh;
    margin:0;
    background: $body-bg;
}

.rating-block {
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

    .ratings-type {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .rating-block {
        display: flex;
        align-items: center;
        margin-bottom: $rating-block-margin-bottom;
    }

    .rating-block-rating {
        display: flex;
    }

    .star {
        cursor: pointer;
        stroke: $rating-color;
    }

    .rating-block-rating .star.selected polygon {
        fill: $rating-color;
    }



    .rating-block-rating.is-voted .star.selected ~ .star polygon {
        fill: transparent;
    }
}

.genre, .roles, .inline-block{
    display: inline-block;
}

.film-card img {
    width: 100%;
}

.navbar{
    top: 0;
    position: absolute;
    background: $secondary-color;
    width: 100%;
    height: 60px;
    z-index: 10;
}

main {
    background: $body-bg;
    position: relative;
    top:0;
    z-index: 9;
}

#hero{
    position: relative;
}

#logout-form{
    display:none;
}
